.top-scorers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}

.top-assists {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}

.assist-rank {
  width: 5em;
  text-align: center;
}

.score-rank {
  width: 5em;
  text-align: center;
}
