.standings {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.standings-caption {
  color: #00ff85;
  font-weight: bold;
  font-size: 2em;
  background-color: #3e003b;
  padding: 0.2em;
}

.all-margin {
  background-color: white;
  transition: all 0.3s ease-out;
}

.all-margin:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}

.league-table {
  margin: auto;
  border-collapse: separate;
  background-color: rgba(255, 255, 255, 1);
  border-spacing: 0 5px;
}

.head-table {
  border-bottom: 2px solid black;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.head-team {
  border-bottom: 2px solid black;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

#head-point {
  padding-right: 0.5em;
}

.recent-games {
  display: flex;
  flex-direction: row;
}

.etc {
  text-align: center;
  font-weight: bold;
  padding-left: 1em;
}

.cl {
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #00004a;
  padding-left: 1em;
}

.el {
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #ff6900;
  padding-left: 1em;
}

.ec {
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #00bf0c;
  padding-left: 1em;
}

.dl {
  text-align: center;
  font-weight: bold;
  color: white;
  padding-left: 1em;
  background-color: darkred;
}

#rank {
  width: 2em;
}

.team-name {
  width: 10em;
  font-weight: bold;
}

.res {
  width: 4em;
  text-align: center;
}

.points {
  padding-right: 0.5em;
  font-weight: bold;
  text-align: center;
}

.team-logo {
  padding-left: 10px;
  padding-right: 10px;
}

td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 780px) {
  table {
    font-size: 0.9em;
  }
}

@media (max-width: 390px) {
  table {
    font-size: 0.7em;
  }
}
