.standings {
  display: flex;
  flex-direction: row;
}

.teams {
  display: flex;
  flex-direction: row;
}

.recent-games {
  display: flex;
  flex-direction: row;
}

.etc {
  text-align: center;
  font-weight: bold;
}

.cl {
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: darkblue;
}

.el {
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: orange;
}

.ec {
  text-align: center;
  font-weight: bold;
  background-color: greenyellow;
}

#rank {
  width: 2em;
}

.team-name {
  width: 10em;
}

.res {
  width: 4em;
  background-color: aliceblue;
}

.points {
  color: deepskyblue;
}
