.standings {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.all-margin {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.league-table {
  margin: auto;
  border-collapse: separate;
  background-color: rgba(255, 255, 255, 1);
  border-spacing: 0 5px;
}

.head-table {
  border-bottom: 2px solid black;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.recent-games {
  display: flex;
  flex-direction: row;
}

.etc {
  text-align: center;
  font-weight: bold;
}

.cl {
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: midnightblue;
}

.el {
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: orange;
}

.ec {
  text-align: center;
  font-weight: bold;
  background-color: greenyellow;
}

.dl {
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: darkred;
}

#rank {
  width: 2em;
}

.team-name {
  width: 10em;
  font-weight: bold;
}

.res {
  width: 4em;
  text-align: center;
}

.points {
  color: midnightblue;
  font-weight: bold;
  text-align: center;
}

td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
