.team-stats {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 30vh;
}

.stat-team-head {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.stat-teams {
  width: 10em;
  font-weight: bold;
}

.total-team-stats {
  text-align: center;
}

.div-team {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 1100px) {
  .team-stats {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .team-stats {
    display: inline-grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .stat-team-head {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }
}
